{% extends 'base.html' %}
{% block title %}Maquinaria{% endblock %}
{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg border-4 mb-4">
                <div class="card-header bg-success text-white text-center">
                    <h5 class="mb-0">Registro de Maquinaria</h5>
                    </div>
                <div class="card-body bg-light">
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="nombreInsumo" class="form-label">Nombre del Insumo</label>
                                <input type="text" class="form-control" id="nombreInsumo" name="nombreInsumo" required>
                            </div>
                            
                            <div class="col-md-3 mb-3">
                                <label for="Codigo" class="form-label">Codigo</label>
                                <input type="number" class="form-control" id="Codigo" name="Codigo" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cantidad" class="form-label">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="fechaIngreso" class="form-label">Fecha de Ingreso</label>
                                <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso" required>
                            </div>
                            <div class="col-md-8 mb-3">
                                <label for="marca" class="form-label">marca</label>
                                <input type="text" class="form-control" id="marca" name="marca" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="serie" class="form-label">serie</label>
                                <input type="text" class="form-control" id="serie" name="serie" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="Observaciones" class="form-label">Observaciones</label>
                                <input type="text" class="form-control" id="Observaciones" name="Observaciones">
                            </div>
                        </div>
                        <div class="card-footer text-end mt-3">
                            <button type="submit" class="btn btn-success me-2">
                                <i class="bi bi-save"></i> Guardar
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                <i class="bi bi-x-circle"></i> Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tabla de Datos -->
        <div class="col-md-8 pe-4">
            <h5 class="text-success text-center mb-3">Datos de Maquinaria</h5>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="table-success text-center">
                        <tr>
                            <th>Nombre</th>
                            <th>Codigo</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Fecha de Ingreso</th>
                            <th>Marca</th>
                            <th>Serie</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
