{% extends 'base.html' %}
{% block title %}Registro de Crías{% endblock %}
{% block content %}
<div class="container-fluid mt-2">
    <div class="row g-0 align-items-start">
        <div class="col-md-4 ps-0 me-n2">
            <div class="form-section p-0 border border-2 border-sg-green">
                <div class="bg-success text-white text-center py-2 rounded-top">
                    <h5 class="mb-0">Registro de Cría</h5>
                </div>
                <div class="p-3 bg-light">
                    <!-- Formulario de crías -->
                </div>
            </div>
        </div>
        <div class="col-md-8 pe-4">
            <div class="mb-4">
                <div class="bg-success text-white text-center py-2 rounded-top">
                    <h5 class="mb-0">Datos de Crías</h5>
                </div>
                <div class="table-responsive border border-2 border-sg-green border-top-0 rounded-bottom bg-light">
                    <table class="table table-bordered table-hover align-middle mb-0">
                        <thead class="table-header-green text-center">
                            <tr>
                                <th class="min-w-100">No / ID</th>
                                <th class="min-w-100">Nombre</th>
                                <th class="min-w-100">Tipo</th>
                                <th class="min-w-120">F. Nacimiento</th>
                                <th class="min-w-100">Sexo</th>
                                <th class="min-w-120">Tipo de Parto</th>
                                <th class="min-w-120">Peso Destete</th>
                                <th class="min-w-120">Fecha Destete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se agregarán dinámicamente los datos -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
